.deployed {
	font-weight:bold;
}

#selected_nodes {
	font-style:italic;
	color:#555;
}

.search {
	font-size:8px;
}

.buttons {
	margin-top:20px;
}

.help-block {
	font-style:italic;
	color:#888;
}

.eta {
	font-style:italic;
	color:#888;
	font-size:10px;
}

.failed {
	font-weight:bold;
	color:#b94a48;
	text-decoration:underline;
}

.failed:hover {
	color:red;
}

.warning {
	font-weight:bold;
	color:#f89406;
	text-decoration:underline;
}

.warning:hover {
	color:orange;
}

.input-xlarge {
	margin-bottom:2px;
}

.footer {
	background-color:#DDD;
	border-top:1px solid #BBB;
	margin:20px 0 0 0;
}

.footer div {
	margin:30px auto;
	display:block;
}
.footer div p {
	font-style:italic;
	color:#555;
}

.sketch_navigation {
	text-decoration:underline;
	color:#333;
}

.active {
	background-color:#DDD;
	text-decoration:none;
}

.sketch_navigation:hover {
	color:#FFF;
	background-color:#999;
	font-weight: bold;
	text-decoration: none;
}

span.label a{
	color:white;
	text-decoration:none;
}

body { 
	padding-top: 60px;
}

ol {
	list-style-type:upper-roman;
}